@using GameStore.Web.ViewModels
@model PublisherViewModel




@{

    ViewBag.Title = "Details";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="quest_form">

    <h2>Details</h2>



    <div>



        <hr />

        <dl class="dl-horizontal">

            <dt>
                <p><b>
                       <b>   @Html.DisplayNameFor(model => model.Name)</b>
                    </b>
                </p>
            </dt>



            <dd>
                <p><b>
                    @Html.DisplayFor(model => model.Name)
                </b></p>
            </dd>



            <dt>
                <p>
                    <b>  @Html.DisplayNameFor(model => model.Description)</b>
                </p>
            </dt>



            <dd>
                <p>
                   @Html.DisplayFor(model => model.Description)
                </p>
            </dd>



            <dt>
                <p>
                    <b>  @Html.DisplayNameFor(model => model.HomePage)</b>
                </p>
            </dt>



            <dd>
                <p>
                    @Html.DisplayFor(model => model.HomePage)
                </p>
            </dd>



        </dl>

    </div>

</div>

<p>

  

    @Html.ActionLink("Publishers", "Index")

</p>

