@model GameStore.Web.ViewModels.Comments.CommentViewModel
<div class="comments">
    <div class="comment dialog">

        <span>@Html.ActionLink(GlobalRes.Answer, "NewComment", "Comments", new {gameKey = Model.GameKey, parentId = Model.Id}, new {@class = "viewDialog", data_dialog_title = "Answer for " + Model.Name})</span>
        <span>@Html.ActionLink(GlobalRes.Quote, "NewComment", "Comments", new {gameKey = Model.GameKey, parentId = Model.Id, body = Model.Body}, new {@class = "viewDialog", data_dialog_title = "Answer for " + Model.Name})</span>
        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
        {
            <input type="hidden" name="CommentValueId" id="CommentValueId" value=@Model.Id />
           <a href="#" class = "viewDialogDelete" data_dialog_title = @GlobalRes.Delete > @GlobalRes.Delete</a>
            <span>@Html.ActionLink(GlobalRes.Edit, "Edit", "Comments", new {gameKey = Model.GameKey, commentId = Model.Id}, new {@class = "viewDialog", data_dialog_title = GlobalRes.Edit})</span>
        }
        @if (Model.Name != "Anonumous" && Model.Name != "Admin" && Model.Name != "Moderator" && Model.Name != "Manager" && (User.IsInRole("Administrator") || User.IsInRole("Moderator")))
        {
            <span>@Html.ActionLink(GlobalRes.Block, "Ban", "Comments", new {name = Model.Name}, new {})</span>
        }
        <hr/>
        <b> @Model.Name</b>
        <p>
            @if (!string.IsNullOrEmpty(Model.Quote))
            {
                <p>
                    <blockquote>
                        @Model.Quote
                    </blockquote>
                </p>
            }
            @if (Model.ParentCommentId != null)
            {
                @Model.ParentCommentName
            }
            <p>
                @Model.Body
            </p>
        </p>
    </div>
</div>