@using System.Globalization
@using System.Web.Mvc.Html
@using GameStore.Web.Util
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Markup task">
    <meta name="author" content="Kate Kovalenko">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    @Html.Hidden("CurrentLang", GlobalRes.CurrentLang)
    <title>@GlobalRes.GameStore</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/app.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <div class="row">
            <div class="col-sm-10 col-xs-12 pull-right">
                <div class="row h-55">
                    <div class="col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="logo">
                                <span class="profile-title">@GlobalRes.GameStore</span>
                            </div>
                            @Html.ActionLink("Ru", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values.CreateLanguageRoute("ru")) |
                            @Html.ActionLink("En", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values.CreateLanguageRoute("en"))
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="social-buttons">
                            <a href="#" class="btn" disabled>
                                <span class="fa fa-linkedin"></span>
                            </a>
                            <a href="#" class="btn">
                                <span class="fa fa-facebook-square"></span>
                            </a>
                            <a href="#" class="btn">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-7">
                                <div class="row">
                                    <div class="email-panel">
                                        <span class="pull-right">admin@yoursite.com.ua</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-5">
                                <div class="row">
                                    <div class="phone-panel">
                                        <span class="phone-icon">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                        <span class="phone-number">+380 97 64 39506</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-10 col-xs-12 pull-right">
                <div class="row low-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="menu-navbar">
                            <div class="container-fluid">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href=@Url.Action("Index", "Games") class="nav-link">
                                            <i class="fa fa-home"
                                               aria-hidden="true">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href=@Url.Action("Index", "Games")>@GlobalRes.Games</a>
                                    </li>
                                    @if (User.IsInRole("Manager"))
                                    {
                                        <li>
                                            <a href=@Url.Action("ManagerProfile", "Account")>@GlobalRes.ManagerProfile</a>
                                        </li>
                                    }
                                    @if (User.IsInRole("User"))
                                    {
                                        <li>
                                            <a href=@Url.Action("Order", "Orders", new {username = User.Identity.Name}) class="nav-link"> @GlobalRes.Orders</a>
                                        </li>
                                    }
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <li>
                                            <a href=@Url.Action("Index", "Users") class="nav-link">@GlobalRes.Users</a>
                                        </li>
                                        <li>
                                            <a href=@Url.Action("Index", "Roles") class="nav-link">@GlobalRes.Roles</a>
                                        </li>
                                    }
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" id="gamesEntities"
                                               data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="true">
                                                <span class="menu-dropdown-title">
                                                        @GlobalRes.GamesEntities <span class="fa fa-chevron-down" aria-hidden="true"></span>
                                                    </span>
                                            </a>
                                            <ul class="dropdown-menu menu-dropdown-body" aria-labelledby="gamesEntities">
                                                <li>
                                                    <a href=@Url.Action("Index", "Genres")>@GlobalRes.Genres</a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index", "PlatformTypes")>@GlobalRes.PlatformTypes</a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index", "Publishers")>@GlobalRes.Publishers</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" id="ordersMenu"
                                               data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="true">
                                                <span class="menu-dropdown-title">
                                                        Orders <span class="fa fa-chevron-down" aria-hidden="true"></span>
                                                    </span>
                                            </a>
                                            <ul class="dropdown-menu menu-dropdown-body"
                                                aria-labelledby="ordersMenu">
                                                <li>
                                                    <a href=@Url.Action("OrderNew", "Orders", new {username = User.Identity.Name})>@GlobalRes.Orders</a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("OrderHistory", "Orders", new {username = User.Identity.Name})>@GlobalRes.OrderHistory</a>
                                                </li>

                                            </ul>
                                        </li>
                                    }                                 
                                        @if (User.IsInRole("User"))
                                        {
                                            <li id="basketInfo"> @Html.Action("BasketInfo", "Orders")</li>
                                          
                                        }

                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                 
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            @using (Html.BeginForm(@GlobalRes.Logout, "Account", FormMethod.Post, new {@class = "navbar-form navbar-left"}))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                                <button type="submit" class="btn btn-primary"> @GlobalRes.Logout</button>
                                            }
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href=@Url.Action("Register", "Account") class="nav-link">
                                                <span class="glyphicon glyphicon-user"></span>
                                                @GlobalRes.Register
                                            </a>
                                        </li>
                                        <li>
                                            <a href=@Url.Action("Login", new {controller = "Account", returnUrl = Request.Url.PathAndQuery}) class="nav-link">
                                                <span class="glyphicon glyphicon-log-in"></span> @GlobalRes.Login
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="content maincontent">
    <div class="jumbotron mountain-jumbotron">
        <div class="row">
            <div class="col-sm-10 col-xs-12 col-sm-push-2 call-to-action">
            </div>
            <img class="mountain-img img-responsive" src="~/Content/images/mountain.png">
        </div>
    </div>
    <div class="container message-container">
        <div class="row">
            <div class="col-sm-10 col-xs-12 message-container-body">
                <div class="row">

                    <span class="message">@GlobalRes.CountGame: @Html.Action("CountGames", "Games")</span>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron games-container">
        <div class="row text-center">
            <div class="col-sm-8 col-xs-12 col-sm-push-2 gameitems">

                @RenderBody()
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 footer-column paddingtop-bottom">
                <h6 class="footer-heading">@GlobalRes.About</h6>
                <ul class="footer-ul">
                    <li>
                        <a href="#"> @GlobalRes.GameStore</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 footer-column paddingtop-bottom">
                <h6 class="footer-heading">@GlobalRes.Information</h6>
                <ul class="footer-ul">
                    <li>
                        <a href="#"> @GlobalRes.GameStore</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 footer-column paddingtop-bottom">
                <h6 class="footer-heading">@GlobalRes.Contact</h6>
                <ul class="footer-ul">
                    <li>
                        <a href="#">@GlobalRes.Phone +380976439506</a>
                    </li>
                    <li>
                        <a href="#">@GlobalRes.Email admin@yoursite.com.ua</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>&copy; @DateTime.Now.Year - @GlobalRes.GameStore</p>
        </div>
    </div>
</div>
<script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>