@model GameStore.Web.ViewModels.Orders.OrderViewModel

@{
    ViewBag.Title = "Bank";
}
<div class="container">
    <div class="jumbotron">
        <h3 class="media-heading">
            @GlobalRes.Order_OrderId: @Model.Id
        </h3>
        <h3 class="media-heading">
           @GlobalRes.Order_CustomerId @Model.CustomerId
        </h3>
        <h3 class="media-heading">
            @GlobalRes.DateOfOrder: @Model.Date
        </h3>
        <h3 class="media-heading">
           @GlobalRes.Sum: @Model.Sum
        </h3>
        <hr/>
        <h3>@GlobalRes.Games</h3>
        @foreach (var item in Model.OrderDetails)
        {
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">
                            @GlobalRes.OrderDetail_GameId @item.GameId
                        </h3>
                        <h3 class="media-heading">
                            @GlobalRes.Discount: @item.Discount
                        </h3>
                        <h3 class="media-heading">
                            @GlobalRes.Price: @item.Price
                        </h3>
                        <h3 class="media-heading">
                            @GlobalRes.Quantity: @item.Quantity
                        </h3>

                    </div>
                </div>
            </div>
        }
    </div>
</div>



