@using GameStore.Web.ViewModels

@model GameStore.Web.ViewModels.Orders.OrderViewModel

@{
    ViewBag.Title = GlobalRes.Basket;
}
<h2>@GlobalRes.Basket</h2>
@if (Model != null)
{
    <p>
        <span>@Html.ActionLink(GlobalRes.Delete, "DeleteBusket", new {username= User.Identity.Name}, new {@class = "btn btn-info"}) </span>
    </p>
    <p>
        <span>@Html.ActionLink(GlobalRes.Pay, "MakeOrder", new {username=  User.Identity.Name}, new {@class = "btn btn-info"}) </span>
    </p>
    @Html.HiddenFor(x => x.Id)
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().GameKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Price)
            </th>
        </tr>

        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>@GlobalRes.BasketEmpty</p>
    <div>  @Html.ActionLink(GlobalRes.Orders, "Order", "Orders", new {username = User.Identity.Name}) </div>
    <div></div>
}