@using GameStore.Web.Helpers
@using GameStore.Web.ViewModels
@using MvcCheckBoxList.Model
@model OrderFilterViewModel
@using (Html.BeginForm("History", "Orders", FormMethod.Get))
{
    <div class="form-group input-group-sm">
        @Html.HiddenQueryStringParameters("GameSort", "PageSize")

        @Html.LabelFor(m => m.DateFrom)
        <div>
            <input class="datefield" data-val="true" data-val-required="Date is required"
                   id="DateFrom" name="DateFrom" type="date" value=@((@Model.DateFrom == new DateTime())?DateTime.Parse("2010-09-15"): @Model.DateFrom) />  
        </div>
    </div>
    <div class="form-group input-group-sm">
         @Html.LabelFor(m => m.DateTo)
         <div>
            <input class="datefield" data-val="true" data-val-required="Date is required"
                   id="DateTo" name="DateTo" type="date" value=@((@Model.DateTo == new DateTime())?DateTime.UtcNow: @Model.DateTo) />
         </div>
     </div>
 <input type="submit" value="Filter" />
}
