@using GameStore.Web.Helpers
@using GameStore.Web.Helpers.Paging
@model GameStore.Web.ViewModels.Orders.OrderFilteringViewModel
@{
    ViewBag.Title = "Orders";
}

@Html.Action("Filters", "Orders", Model.Filter)
@if (Model.Orders.ToList().Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.Label(GlobalRes.Order_OrderId)
            </th>
            <th>
                @Html.Label(GlobalRes.Order_CustomerId)
            </th>
            <th>
               @Html.Label(GlobalRes.DateOfOrder)
            </th>
            <th>
                @Html.Label(GlobalRes.Sum)
            </th>
            <th>
                @Html.Label(GlobalRes.OrderDetails)
            </th>
           
        </tr>

        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.ActionLink(item.Id, "OrderHistory", new {username = item.CustomerId})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @foreach (var x in item.OrderDetails)
                    {
                        <div>@GlobalRes.Order_OrderId @x.Id @GlobalRes.Price: @x.Price @GlobalRes.Quantity: @x.Quantity  </div>
                    }
                </td>
               
            </tr>
        }
    </table>
}


<div class="text-center">
    <ul class="pagination">
        @Html.Pager(Model.Page, (int)Model.PageSize, Model.TotalItemsCount, "Page").Options(o => o
        .AddRouteDataValue(Html.QueryStringParametersAsRouteValueDictionaryExceptFor("Page")))
    </ul>
</div>

@using (Html.BeginForm("History", "Orders", FormMethod.Get, new { @class = "form-horizontal" }))
{
    @Html.HiddenQueryStringParametersExceptFor("PageSize", "Page")
    <div class="col-lg-3">
        @Html.EnumDropDownListFor(x => x.PageSize, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">@GlobalRes.Check</button>

}


