@model GameStore.Web.ViewModels.Orders.OrderViewModel

@{
    ViewBag.Title = "IBox";
}

<div class="container">
    <div class="jumbotron">
        <h3 class="media-heading">
            @GlobalRes.Order_OrderId: @Model.Id
        </h3>
        <h3 class="media-heading">
            @GlobalRes.Order_CustomerId: @Model.CustomerId
        </h3>
        <h3 class="media-heading">
            @GlobalRes.DateOfOrder: @Model.Date
        </h3>
        <h3 class="media-heading">
           @GlobalRes.Sum: @Model.Sum
        </h3>
        @Html.ActionLink(GlobalRes.Games, "Index", "Games")
    </div>
</div>



