@using GameStore.Web.ViewModels.Orders
@model GameStore.Web.ViewModels.Orders.BasketViewModel
<p> @GlobalRes.Counts:</p>
@Html.HiddenFor(x => x.UnitInStock)
 
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.GameKey)
    @Html.HiddenFor(x=>x.CustomerId)
    <input type="text" id="Quantity" name="Quantity" min="1" value="1" max="@Model.UnitInStock" onchange="isright(this)" style="width: 50px" />
    @Html.ValidationMessageFor(model => model.Quantity, "")    
}
