@using GameStore.Web.Helpers
@using GameStore.Web.Helpers.Paging
@using MvcCheckBoxList.Model
@model GameStore.Web.ViewModels.Games.FilterViewModel
    @using (Html.BeginForm("Index", "Games", FormMethod.Get, new {id = "filter"}))
    {
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">@Html.HiddenQueryStringParameters("GameSort", "PageSize")
                            @Html.LabelFor(m => m.Name, new {@class = "control-label"})</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @Html.TextBoxFor(m => m.Name, null, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Name, null, new {@class = "help-block"})
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">@Html.LabelFor(m => m.MinPrice, new {@class = "control-label"})</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.TextBoxFor(m => m.MinPrice, null, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.MinPrice, null, new {@class = "help-block"})
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">@Html.LabelFor(m => m.MaxPrice, new {@class = "control-label"})</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.TextBoxFor(m => m.MaxPrice, null, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.MaxPrice, null, new {@class = "help-block"})
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">@Html.LabelFor(m => m.DateOfAdding, new {@class = "control-label"})</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.EnumDropDownList(m => m.DateOfAdding, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.DateOfAdding, null, new {@class = "help-block"})
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">@Html.LabelFor(m => m.FilterBy, new {@class = "control-label"})</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.EnumDropDownList(model => model.FilterBy, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.FilterBy, null, new {@class = "help-block"})
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">@GlobalRes.Genres</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.CheckBoxListFor(model => model.SelectedGenresName, model => model.ListGenres, model => model.Text, model => model.Text, model => model.SelectedGenres, Position.Vertical)
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">@GlobalRes.PlatformTypes</a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.CheckBoxListFor(model => model.SelectedTypesName, model => model.ListTypes, model => model.Text, model => model.Text, model => model.SelectedType, Position.Vertical)
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">@GlobalRes.Publishers</a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.CheckBoxListFor(model => model.SelectedPublishersName, model => model.ListPublishers, model => model.Text, model => model.Text, model => model.SelectedPublishers, Position.Vertical)
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">@GlobalRes.Paging</a>
                    </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body">

                        @Html.HiddenQueryStringParametersExceptFor("PageSize", "Page")
                        <div>
                            @Html.EnumDropDownListFor(x => x.PageSize, new { @class = "form-control btn btn-primary dropdown-toggle", id = "paging-drop" })
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(x=>x.Page);
        @Html.HiddenFor(x=>x.PageSize);
        @Html.HiddenFor(x=>x.TotalItemsCount);
        <input type="button" id="btnAjaxFilter" value=@GlobalRes.Filter class="btn btn-warning"/>
    }
