@using GameStore.Web.Helpers
@using GameStore.Web.Helpers.Paging
@model GameStore.Web.ViewModels.Games.FilterViewModel
@{
    ViewBag.Title = GlobalRes.Games;
}
@Scripts.Render("~/bundles/scripts")
<script src="~/scripts/Filter.js">
</script>


<div class="row indexGames">
    <div class="col-sm-12 col-xs-12 col-md-3 sortProduct">
        <div class="col-xs-12">
            @Html.Action("Filters", "Games", Model)
        </div>
    </div>
    <div class="gh col-md-9 col-xs-12 text-center" id="gamesList">
        @Html.Action("Games", new {gameFilterViewModel = Model})
    </div>
</div>

<script>
    var AppUrlSettings = {
        GamesUrl: '@Url.Action("AddToBasket", "Games", FormMethod.Post)',
        GamesListUrl: '@Url.Action("Games", "Games", FormMethod.Get)'
    }
</script>
