@using GameStore.Web.ViewModels

@model IEnumerable<GameViewModel>

@{
    ViewBag.Title = "Games";
}

<p>
    <span>@Html.ActionLink("Create New", "New", null, new { @class = "btn btn-info" }) </span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discountinues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenresName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublisherName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discountinues)
            </td>
            <td>
                @foreach (var i in item.GenresName)
                {
                    <p>@i</p>
                }
            </td>
            <td>
                @foreach (var i in item.TypesName)
                {
                    <p>@i</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                <span>@Html.ActionLink("Edit", "Update", new { key = item.Key }, new { @class = "btn btn-info" }) </span>
                <p></p>
                <span> @Html.ActionLink("Details", "Details", "Comments",  new { key = item.Key }, new { @class = "btn btn-info" }) </span>
                <p></p>
              
                @using (Html.BeginForm("AddToBusket", "Orders", FormMethod.Get))
                {
                    <input type="text" name="gameId" value="@item.Id" hidden="hidden"/>
                    <input type="text" name="quanity" min="1" max="@item.UnitsInStock" onchange = "isright(this);" style="width: 50px" />
                    <input type="text" name="customerId" value="1" hidden="hidden"/>
                    <input type="submit" value="Buy" class = "btn btn-info"/>
                }
                          
            </td>
        </tr>
    }

</table>
<script>
function isright(obj)
 {
 var value= +obj.value.replace(/\D/g,'')||0;
 var min = +obj.getAttribute('min');
 var max = +obj.getAttribute('max');
 obj.value = Math.min(max, Math.max(min, value));
 }
</script>
