
@using GameStore.Web.ViewModels

@model GameFilteringViewModel



@{
    ViewBag.Title = "Games";
}

<link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css"/>


<p>
    <span>@Html.ActionLink("Create New", "New", null, new {@class = "btn btn-info"}) </span>
</p>

@Html.Partial("Filter", Model.Filter)
@if (Model.Games.ToList().Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games.First().Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.First().UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.First().Discountinues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.First().GenresName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.First().PlatformTypesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.First().PublisherName)
            </th>
        </tr>

        @foreach (var item in Model.Games)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discountinues)
                </td>
                <td>
                    @foreach (var i in item.GenresName)
                    {
                        <p>@i</p>
                    }
                </td>
                <td>
                    @foreach (var i in item.PlatformTypesName)
                    {
                        <p>@i</p>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.PublisherName))
                    {
                        @Html.ActionLink(item.PublisherName, "Details", "Publishers", new {companyName = item.PublisherName}, new {@class = "class"})
                    }
                </td>
                <td>
                    <span>@Html.ActionLink("Edit", "Update", new {key = item.Key}, new {@class = "btn btn-success"}) </span>
                    <p></p>
                    <span> @Html.ActionLink("Details", "Details", "Comments", new {key = item.Key}, new {@class = "btn btn-info"}) </span>
                    <p></p>
                    <span>@Html.ActionLink("Buy", "AddToBasket", "Games", new {gameId = item.Id, unitsInStock = item.UnitsInStock}, new {@class = "viewDialog btn btn-primary", data_dialog_title = "Add game"}) </span>                         
                </td>
            </tr>
        }


    </table>
}
<script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
<script>
    $.ajaxSetup({ cache: false });
 
    $(".viewDialog").on("click", function (e) {
        e.preventDefault();
 
        $("<div id='dialogContent'></div>")
        .addClass("dialog")
        .appendTo("body")
        .load(this.href)
        .dialog({
            title: $(this).attr("data-dialog-title"),
            close: function () { $(this).remove() },
            modal: true,
            buttons: {
                "Сохранить": function () {
                    $.ajax({
                        url: "@Url.Action("AddToBasket", "Orders")",
                        type: "POST",
                    data: $('form').serialize(),
                    datatype: "json",
                    success: function (result) {
 
                        $("#dialogContent").html(result);
                    }
                });
    }
    }
    });
    });
    $(".close").on("click", function (e) {
        e.preventDefault();
        $(this).closest(".dialog").dialog("close");
    });
</script>

