@using GameStore.Web.ViewModels

@model UpdateGameViewModel

@{
    ViewBag.Title = "Новая игра";
}

<div id="addGame">
    <hr>
    <div class="row">
        
        <!-- edit form column -->
        <div class="col-xs-9 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-plus"></i>
               
                 Add @Model.Game.Name game. Make sure you fill all required fields.
            </div>
            @using (Html.BeginForm("New", "Games", Model.Publishers, FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.Game.Id)
                <div class="form-horizontal">
                    <h4>Игра</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.NameFor(model => model.Game.Name)

                            @Html.EditorFor(a => a.Game.Name,  new { htmlAttributes = new {  @class = "form-control" }})
                            @Html.ValidationMessageFor(model => model.Game.Name, "", new { @class = "text-danger" })
            
                    </div>
                    <div class="form-group">
                        @Html.NameFor(model => model.Game.Description)
             
                            @Html.EditorFor(model => model.Game.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Game.Description, "", new { @class = "text-danger" })
                    
                    </div>
                   
                    <div class="form-group">
                        @Html.NameFor(model => model.Game.Price)
                      
                            @Html.EditorFor(model => model.Game.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Game.Price, "", new { @class = "text-danger" })
                    
                    </div>
                    <div class="form-group">
                        @Html.NameFor(model => model.Game.UnitsInStock)
                   
                            @Html.EditorFor(model => model.Game.UnitsInStock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Game.UnitsInStock, "", new { @class = "text-danger" })
                      

                    </div>
                    

                    <div class="form-group">

                   
                            @Html.NameFor(model => model.Game.PublisherId)
                          
                             
                                @Html.DropDownListFor(model => model.Game.PublisherId, new SelectList(Model.Publishers, "Id", "Name"))
                                @Html.ValidationMessageFor(model => model.Game.PlatformTypes, "", new { @class = "text-danger" })
                         

                    

                    </div>


                    <div class="form-group">

                     
                            @Html.NameFor(model => model.Game.Genres)
                            

                                @Html.ListBoxFor(model => model.Game.Genres, new MultiSelectList(new SelectList(Model.Genres, "Id", "Name"), "Value", "Text"))

                                @Html.ValidationMessageFor(model => model.Game.PlatformTypes, "", new { @class = "text-danger" })
                         

                       

                    </div>
                    <div class="form-group">

                       
                            @Html.NameFor(model => model.Game.PlatformTypes)
                            <div class="col-md-10">

                                @Html.ListBoxFor(model => model.Types, new MultiSelectList(new SelectList(Model.Types, "Id", "Name"), "Value", "Text"))

                                @Html.ValidationMessageFor(model => model.Game.PlatformTypes, "", new { @class = "text-danger" })
                            </div>

                       

                    </div>
                    <div class="form-group">

                       
                            @Html.NameFor(model => model.Game.Discountinues)
                          

                                @Html.EditorFor(model => model.Game.Discountinues, new { htmlAttributes = new { @class = "form-control" }} )

                               @Html.ValidationMessageFor(model => model.Game.Discountinues, "", new { @class = "text-danger" })
                          

                    </div>





                    <div class="form-group">

                        <div class="col-md-offset-2 col-md-10">

                            <input type="submit" value="Создать" class="btn btn-default" />

                        </div>

                    </div>

                </div>
                                }
   
        </div>
    </div>
    <hr>
</div>